@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap')
    
.header
    background-color: var(--purple)
    &__container
      display: flex
      padding: 20px 0px
      align-items: center
      border-bottom: 1px solid #fff
    a
        text-decoration: none
        color: #fff


.logo
    font-size: 40px
    font-family: 'Istok Web'
    color: #fff

.nav
    display: flex
    justify-content: flex-end

.navBtn
    margin-right: 40px
    font-size: 18px
    font-family: sans-serif
    font-weight: var(--fw-normal)
    &:last-child
        margin-right: 0px

.navHeader
  font-size: 18px
  font-weight: var(--fw-normal)
  display: flex
  a
    margin-right: 40px
    &:last-child
        margin-right: 0

.mobile_btn
  display: none

.icons
  display: none

.adminBtn
  color: #000

@media (max-width: 430px)
  .nav
    display: block
    position: fixed
    left: -100%
    transition: left 1s
    z-index: 10
    height: 100vh
    background: rgba(0, 0, 0, 0.95)

  .navHeader
    display: flex
    flex-direction: column
    justify-content: start
    padding-top: 200px
    position: fixed
    left: -100%
    top: 0
    padding-left: 30%
    z-index: 10
    width: 100%
    height: 100vh
    background: rgba(0, 0, 0, 0.95)
    transition: left 1s
    font-size: 40px
    a
      margin-bottom: 40px
    
  .icons
    display: grid
    grid-template-columns: repeat(3, 30px)
    gap: 20px
    grid-template-rows: repeat(2, 20px)
    position: fixed
    left: -100%
    padding-left: 37%
    top: 590px
    transition: left 1s
    z-index: 10

  .active
    left: 0

  .header
    &__container
      border: none
      display: flex
      justify-content: space-between
  .mobile_btn
    color: #fff
    border: none
    background: none
    position: fixed
    right: 20px
    display: block
    // position: absolute
    // right: 10
    // top: 20
    cursor: pointer
    z-index: 10

