@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap')
.fw
    background-color: var(--purple)
    padding-top: 25vh
    height: 100vh
    margin-bottom: 15vh

.fwContainer
    display: flex
    align-items: center
    margin-bottom: 175px
    img
        width: 25px

.mainText
    color: #fff
    h1
        font-family: 'Bayon'
        font-size: 120px
        margin-bottom: 20px
        line-height: 90px
    h2
        display: inline-block
        font-family: var(--inter)
        font-weight: var(--fw-normal)
        line-height: 22px
        border-top: 1px solid #fff
        padding-top: 20px



.icons
    display: flex
    flex-direction: column
    align-items: flex-end
    position: absolute
    right: 20vh
    bottom: 5vh
    a
        margin-bottom: 15px
        &:last-child
            margin-bottom: 0px

.arrow
    position: absolute
    bottom: -9vh
    left: 30vh

@media (max-width: 1540px)
    .mainText
        h1
            font-size: 96px
    .arrow
        margin-bottom: 5px

        

@media (max-width: 1199px)
    .fw
        padding-top: 15vh
    .fwContainer
        margin-bottom: 80px
    .mainText
        h1
            font-size: 82px
            line-height: 80px

@media (max-width: 430px)
    .fw
        padding-top: 193px
        margin-bottom: 68px
        padding-bottom: 0px
    .mainText
        display: flex
        flex-direction: column
        align-items: center
        h1
            font-size: 48px
            line-height: 36px
        h2
            font-size: 18px
            line-height: 22px
            padding-bottom: 300px
            br
                display: none
    .icons
        display: none
    .cicles
        display: none
    .arrow
        position: static