.thirdWrapper
    font-family: var(--inter)
    padding-bottom: 180px
    background-color: #F8F8F8
    padding-top: 180px

    h1
        font-size: 48px
        color: var(--dark)
        font-weight: var(--fw-bold)
    p
        color: #000
        font-size: 18px
        font-weight: var(--fw-normal)
        line-height: 22px

.title
    display: flex
    justify-content: space-between
    margin-bottom: 140px

.card
    display: flex
    align-items: flex-start
    margin-bottom: 100px
    img
        margin-right: 20px
    h2
        font-weight: var(--fw-bold)
        color: var(--dark)
        margin-bottom: 20px
        font-size: 24px


.cards
    display: grid
    justify-content: space-between
    grid-template-columns: repeat(2, auto)
    grid-template-rows: repeat(2, auto)