.footer
    font-family: var(--inter)
    background-color: var(--dark)
    padding-top: 70px
    display: flex
    input
        display: flex
        border: none
        background: none
        margin-bottom: 40px
        height: 30px
        border-bottom: 1px solid white
        width: 100%
        color: #fff
        font-size: 18px
        &:focus
            outline: none
        &::placeholder
            font-size: 18px
    h2
        font-size: 36px
        color: #fff
        font-weight: var(--fw-bold)
        margin-bottom: 40px
    &__container
        display: flex
        justify-content: space-between
        margin-bottom: 100px
    &__container_left
        display: flex
        flex-direction: column
        justify-content: space-between
    &__container_mail
        color: rgba(255, 255, 255, 0.5)
        font-size: 20px
    &__letter
        color: rgba(255, 255, 255, 1)
        font-size: 18px
        line-height: 25px
        a
            color: rgba(255, 255, 255, 1)

.navbar
    font-size: 24px
    font-weight: var(--fw-bold)
    color: #fff
    a
        display: flex
        margin-bottom: 40px

.form
    button
        border: none
        background: none
        color: rgba(255, 255, 255, 1)
        font-size: 14px
        border-bottom: 1px solid rgba(255, 255, 255, 1)

.flex
    display: flex

.padding
    padding: 20px 0

@media (max-width: 1199px)
    .footer
        display: block
        h2
            font-size: 32px
        input
            font-size: 16px
            &::placeholder
                font-size: 16px
        &__container_mail
            font-size: 18px
        &__container
            margin-top: 30px
        &__letter
            font-size: 16px
    .navbar
        font-size: 21px

@media (max-width: 430px)
    .footer
        padding-bottom: 20px
        h2
            font-size: 24px
            margin-bottom: 30px
        &__container
            display: block
        &__container_mail
            margin-bottom: 100px
        &__letter
            display: none
    .navbar
        font-size: 24px
        margin-bottom: 50px
        a
            margin-bottom: 20px